p {
    font-family: 'Merriweather', serif;
    color: #fff ;
}

h1 {
    font-family: 'Merriweather', serif;
    color: #fff ;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #fff ;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #fff ;
}

h4 {
    font-family: 'Merriweather', serif;
    color: #fff ;
}

h5 {
    font-family: 'Merriweather', serif;
    color: #fff ;
}

#form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin-left: 35vw;
    margin-right: 35vw;
}

#form input[type=submit]{
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    border: blueviolet 1px solid;
    color: white;
}

#form input[type=submit]:hover {
    background-color: transparent;
    color: blueviolet;
    cursor: pointer;
}

#form input[type=text]{
    font-size: 35px;
}

body {
    background-color: rgb(0, 0, 0);
}

#artist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin-right: 75vw;
    margin-left: 5vw;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: hidden;
    text-align: left;
    width: 70vw;
    padding-left: 1vw;
    margin-left: 30vw;
    margin-right: 5vw;
    position: absolute; 
    top: 14vw;
} 