p {
    font-family: 'Merriweather', serif;
    color: #fff;
}

h1 {
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #fff;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #fff;
}

h4 {
    font-family: 'Merriweather', serif;
    color: #fff;
}

h5 {
    font-family: 'Merriweather', serif;
    color: #fff;
}

img {
    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin-left: 35vw;
    margin-right: 35vw;
}

#search {
    width: 100%
}

@media (max-width:812px) {
    #form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        width: 0vw;
        margin-left: 0vw;
        margin-right: 0vw;
    }
}

@media (max-width:812px) {
    #form input[type=text] {
        font-size: 20px !important;
    }
}

@media (max-width:812px) {
    #form input[type=submit] {
        margin-top: 5vw !important;
    }
}

#form input[type=submit] {
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 20px;
    border: blueviolet 1px solid;
    color: white;
    margin-top: 1vw;
    width: 20vw;
}

#form input[type=submit]:hover {
    background-color: transparent;
    color: blueviolet;
    cursor: pointer;
}

#form input[type=text] {
    font-size: 35px;
}

body {
    background-color: rgb(0, 0, 0);
}

#grid {
    display: flex;
    text-align: left;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
}

#artist-info {
    margin-right: 2vw;
    width: 30%;
    padding: 1%;
}

#search-results {
    width: 70%;
    padding: 1%;
}

.background-class {
    background-color: rgba(137, 43, 226, 0.07);
    border-radius: 15px;
}

.artist-block-1 {
    padding: 3%;
    width: 40%;
}

.artist-block-2 {
    width: 60%;
    padding: 3%;
}

.artist-div {
    display: flex;
    margin-bottom: 2vw;
}

.header-p {
    font-size: 20px;
}


/* #artist-info a {
    font-size: 14px;
    background-color: blueviolet;
    border-radius: 20px;
    border: blueviolet 1px solid;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
}

#artist-info a:hover {
    background-color: transparent;
    color: blueviolet;
    cursor: pointer;
}

#search-results a {
    font-size: 14px;
    background-color: blueviolet;
    border-radius: 20px;
    border: blueviolet 1px solid;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
}

#search-results a:hover {
    background-color: transparent;
    color: blueviolet;
    cursor: pointer;
} */